
[Unit]
Description=CoreDNS
Documentation=https://coredns.io/
After=network.target

[Service]
Type=simple
User={{ coredns_service_user }}
ExecStart={{ coredns_install_location }}/coredns -conf=/etc/coredns/Corefile 2>&1 | tee -a /var/log/CoreDNS/logs.txt
ExecReload=/bin/kill -SIGUSR1 $MAINPID
Restart=on-failure
PermissionsStartOnly=true
LimitNOFILE=1048576
LimitNPROC=512
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target