Å             System Role: {{system_role}}
Å             {{ issue_description }}  \l              
Å             \U logged in.
Å                                 
Å             Hostname:   \n
Å             IP Address: \4